<div class="media shot_header">
  <div class="pull-left">
    <img class="media-object" ng-src="{{shot.user.avatar_url}}" >
  </div>
  <div class="media-body">
    <h1>{{shot.title}}</h1>
    <span class="muted">by</span>
    <a href="#/users/{{shot.player.username}}">
      {{shot.user.name}}
    </a>
    | 
   {{shot.created_at | dabbleDate: "MMM d, yyyy" }}
  </div>
</div>

<div class="row">
  <div class="span6">
    <img class="shot_image" ng-src="{{shot.images.normal}}">

    <div class="page-header">
      <h2>Responses</h2>
    </div>
    <div ng-repeat = "comment in comments.comments" class="media comment">
      <div class="pull-left">
        <img class="media-object" ng-src="{{comment.player.avatar_url}}">
      </div>
      <div class="media-body">
        <strong>
          <a href="#/players/{{comment.player.username}}">
            {{comment.player.name}}
          </a>
        </strong>
<!--        <p ng-bind-html-unsafe="comment.body"></p>   -->
      </div>

    </div>
    <button 
      class="btn btn-primary" 
 <!--     ng-show="comments.page < comments.pages" -->
  <!--    ng-click="comments.loadNextPage()"> -->
      Load More Comments
    </button>
  </div>

  <div class="span3">
      <ul class="nav nav-list">
        <li>
          <span class="glyphicon glyphicon-thumbs-up"></span>
          Likes {{shot.likes_count}} 
        </li>
        <li>
         <span class="glyphicon glyphicon-eye-open"></span>
          Views {{shot.views_count}} 
        </li>
        <li>
         <span class="glyphicon glyphicon-bullhorn"></span>
          Rebounds {{shot.rebounds_count}} 
        </li>
        <li>
          <span class="glyphicon glyphicon-pencil"></span>
          Comments {{shot.comments_count}} 
        </li>
        <li>
          <a class="globe-icon-link" href="{{shot.html_url}}">
          <span class="glyphicon glyphicon-globe"></span> {{shot.user.html_url}}
 
          </a>
        </li>
      </ul>

  </div>
  <div class="span3">
    <h2>Rebounds</h2>
    <div shot-list="rebounds"></div>
  </div>
</div>


