<div class="media shot_header">
  <div class="pull-left">
    <img class="media-object" ng-src="{{shot.user.avatar_url}}" >
  </div>
  <div class="media-body">
    <h1>{{shot.title}}</h1>
    <span class="muted">by</span>
    <a href="#/users/{{shot.player.username}}">
      {{shot.user.name}}
    </a>
    | 
   {{shot.created_at | dabbleDate: "MMM d, yyyy" }}
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <img class="shot_image" ng-src="{{shot.images.normal}}">


   <!--  <div ng-repeat = "comment in comments.comments" class="media comment">
      <div class="pull-left">
        <img class="media-object" ng-src="{{comment.player.avatar_url}}">
      </div>
      <div class="media-body">
        <strong>
          <a href="#/players/{{comment.player.username}}">
            {{comment.player.name}}
          </a>
        </strong>

      </div>

    </div> -->
   
  </div>

  <div class="col-md-6">
      <ul class="nav nav-list">
        <li>
          <i class="glyphicon glyphicon-thumbs-up"></i>
          Likes {{shot.likes_count}} 
        </li>
        <li>
         <i class="glyphicon glyphicon-eye-open"></i>
          Views {{shot.views_count}} 
        </li>
        <li>
         <i class="glyphicon glyphicon-bullhorn"></i>
          Rebounds {{shot.rebounds_count}} 
        </li>
        <li>
          <i class="glyphicon glyphicon-pencil"></i>
          Comments {{shot.comments_count}} 
        </li>
        <li>
          <a class="globe-icon-link" href="{{shot.html_url}}">
          <i class="glyphicon glyphicon-globe"></i> {{shot.user.html_url}}
          </a>
        </li>
      </ul>

  </div><!-- end of col-6 with icons -->
  
</div><!-- end of row -->
<div class="row">
  <div class="col-md-12">
    <h2>Comments</h2>
    <ul class="comment-list">
      <li class="comment-list-item" ng-repeat="comment in comments">
      {{comment.body | htmlToPlaintext}}</li>
    </ul>
  </div>
</div>

